@model IEnumerable<LibraryManagementSystem_MileStone_1.Models.Borrow>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TakenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BroughtDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TakenDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BroughtDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                    <a class="btn btn-primary"  asp-action="Edit" asp-route-id="@item.BorrowId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.BorrowId">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BorrowId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
